@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Climate+Crisis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&display=swap');
.material-symbols-sharp {
font-size: 1em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
:root {
    --accent-bright: #ffff00;
}

body {
    display: grid;
    grid-template-rows: 128px 1fr;
    min-height: 100vh;
    min-width: 100vw;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    box-sizing: border-box;
    transition: 200ms;
}
body>div {
    font-size: 14px;
    display: grid;
    grid-template-columns: 5fr 9fr;
    height: 100%;
}
body>div>div {
    padding: 20px;
}
body>div>div:first-child {
    background: var(--accent-bright);
}
body>div>div:first-child>button {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    background: var(--accent-bright);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}
body>div>div:first-child>button:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}
body>div>div:first-child>button:active {
    background: black;
    color: var(--accent-bright);
    transition: 0s;
}
body>div:first-child {
    background: black;
    color: white;
    font-family: "Climate Crisis", sans-serif;
    font-size: 3em;
    grid-template-columns: 12fr 1fr;
    padding: 20px;
    display: grid;
    align-items: center;
}
body>div:first-child>div {
    background: transparent;
}
body>div:first-child>div>i:hover {
    color: var(--accent-bright);
    user-select: none;
}
h3 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
}
h4 {
    font-size: 1.5em;
}
body>div>div>div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid black;
    position: relative;
}
h1 {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 5rem;
}
p {
    font-size: 2rem;
}
span.description, span.audio-source {
    display: none;
}
audio {
    width: calc(100% - 40px);
    border: 3px solid black;
    position: absolute;
    bottom: 20px;
}
audio::-webkit-media-controls-panel {
    background: white;
}
audio::-webkit-media-controls-play-button {
    background-color: white !important;
}
audio::-webkit-media-controls-play-button:hover {
    background-color: var(--accent-bright) !important;
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    font-family: "Alfa Slab One", sans-serif;
}
audio::-webkit-media-controls-timeline {
    background-color: white;
}
audio::-webkit-media-controls-volume-slider {
    background-color: var(--accent-bright);
    padding-left: 8px;
    padding-right: 8px;
}
.settings {
    background: white;
    position: absolute;
    top: 140px;
    right: 15px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 18px -5px black;
    box-sizing: border-box;
    border: 3px solid black;
    padding: 20px;
    display: block;
    text-align: center;
}
.settings>h3 {
    font-size: 1.8rem;
}
.settings>button {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 3px solid black;
    z-index: 10 !important;
}
.settings>button:hover {
    transform: scale(1.1);
}
#red {
    background: #eb4034;
}
#orange {
    background: #ffbc4f;
}
#yellow {
    background: #ffff00
}
#green {
    background: #4dff5e;
}
#blue {
    background: #4da6ff;
}
#purple {
    background: #e485ff;
}